<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.sf.orc2hdl.ui.Orc2HdlLaunchConfigurationDelegate"
            id="net.sf.orc2hdl.Orc2HdlLaunchConfigurationType"
            modes="run"
            name="Open RVC-CAL to HDL Compilation"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.sf.orc2hdl.Orc2HdlLaunchConfigurationType"
            icon="icons/fpga.png"
            id="net.sf.orc2hdl.Orc2HdlLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sf.orc2hdl.ui.Orc2HdlLaunchConfigurationTabGroup"
            description="Open RVC-CAL to HDL Compilation"
            id="net.sf.orc2hdl.Orc2HdlLaunchConfigurationTabGroup"
            type="net.sf.orc2hdl.Orc2HdlLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="net.sf.orc2hdl.ui.Orc2HdlLaunchShortcut"
            id="net.sf.openforge.cal2hdl.OrccOpenForgeShortcut"
            label="Orc2HDL Compilation"
            modes="run">
      </shortcut>
   </extension>
   <extension
         point="net.sf.orcc.backends.backends">
      <backend
            class="net.sf.orc2hdl.backend.Orc2HDL"
            name="Verilog-Orc2HDL">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="net.sf.orc2hdl.OpenForgeOptions">
         </option>
      </backend>
   </extension>
   <extension
         point="net.sf.orcc.core.options">
      <option
            defaultValue="false"
            description="Select or Deselect differents OpenForge options"
            id="net.sf.orc2hdl.OpenForgeOptions"
            name="Modify Default OpenForge Options">
         <checkBox>
            <option
                  defaultValue="Virtex 2"
                  description="Choose the FPGA Type"
                  id="net.sf.orc2hdl.FpgaType"
                  name="FPGA Type">
               <comboBox>
                  <comboBoxItem
                        id="Spartan 3">
                  </comboBoxItem>
                  <comboBoxItem
                        id="Virtex 2">
                  </comboBoxItem>
                  <comboBoxItem
                        id="Virtex 4">
                  </comboBoxItem>
               </comboBox>
            </option>
            <option
                  defaultValue="false"
                  description="Print OpenForge compilation Output."
                  id="net.sf.orc2hdl.Verbose"
                  name="Verbose">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="Allow auto-insertion of registers based on max-gate-depth spec in the XLIM."
                  id="net.sf.orc2hdl.Pipelining"
                  name="Pipelining">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="Do not automatically infer fifo interface from top level function signature."
                  id="net.sf.orc2hdl.NoBlockIO"
                  name="No Block IO">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="Do not perform block-based scheduling(auto s/w pipelining of top level tasks)."
                  id="net.sf.orc2hdl.NoBlockBasedScheduling"
                  name="No Block Based Scheduling">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="Use simple arbitration of shared memories (assumes logic handles contention)."
                  id="net.sf.orc2hdl.SimpleSharedMemoryArbitration"
                  name="Simple Shared Memory Arbitration">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="Do not generate EDK pcore compliant directory output structure."
                  id="net.sf.orc2hdl.NoEDKGeneration"
                  name="No EDK Generation">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="Balance loop latency. Ensures that all paths take at least 1 cycle if any path does so that loop iteration flop can be removed."
                  id="net.sf.orc2hdl.BalanceLoopLatency"
                  name="Balance Loop Latency">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="Any multiplier which can be decomposed into 2 or fewer add/subtract + shift stages is."
                  id="net.sf.orc2hdl.MultiplierDecomposition"
                  name="Multiplier Decomposition">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="Reads of LUT based memories are performed combinationally."
                  id="net.sf.orc2hdl.CombinationallyLUTReads"
                  name="Combinationally LUT Reads">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="Allow generation of dual ported LUT memories (default is to only use dual port BRAMs)."
                  id="net.sf.orc2hdl.AllowDualPortLUT"
                  name="Allow Dual Port LUT">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="No Log File Generation"
                  id="net.sf.orc2hdl.NoLog"
                  name="No Log">
               <checkBox></checkBox>
            </option>
            <option
                  defaultValue="true"
                  description="Suppress generation of _sim and _synth files."
                  id="net.sf.orc2hdl.NoInclude"
                  name="No Include">
               <checkBox></checkBox>
            </option>
         </checkBox>
      </option>
   </extension>

</plugin>
