<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.orcc.backends.backends">
      <backend
            class="org.xronos.orcc.backend.embedded.Embedded"
            name="Xronos Embedded CPP">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
      </backend>
      <backend
            class="org.xronos.orcc.backend.Xronos"
            name="Xronos Verilog">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="org.xronos.orcc.generateGoDone">
         </option>
         <option
               id="org.xronos.orcc.schedulingInformation">
         </option>
         <option
               id="org.xronos.orcc.newLimGen">
         </option>
         <option
               id="org.xronos.orcc.outputClockGating">
         </option>
         <option
               id="org.xronos.orcc.inputClockGating">
         </option>
         <option
               id="org.xronos.orcc.arraySizeToPowerOfTwo">
         </option>
         <option
               id="org.xronos.orcc.xilinxPrimitives">
         </option>
         <option
               id="org.xronos.orcc.singleFileGeneration">
         </option>
         <option
               id="org.xronos.orcc.importBufferSize">
         </option>
      </backend>
   </extension>
   <extension
         point="net.sf.orcc.core.options">
      <option
            defaultValue="false"
            description="One Verilog file generation for all the Network"
            id="org.xronos.orcc.singleFileGeneration"
            name="Single File Generation (Experimental)">
         <checkBox></checkBox>
      </option>
      <option
            defaultValue="false"
            id="org.xronos.orcc.generateGoDone"
            name="Generate Go/Done Signal for each Action">
         <checkBox>
            <option
                  defaultValue="false"
                  id="org.xronos.orcc.generateWeights"
                  name="Generate the Go&amp;Done weights for each action">
               <checkBox></checkBox>
            </option>
         </checkBox>
      </option>
      <option
            defaultValue="false"
            id="org.xronos.orcc.xilinxPrimitives"
            name="Copy and compile Xilinx Primitives (Don&apos;t use unisim Lib)">
         <checkBox></checkBox>
      </option>
      <option
            defaultValue="false"
            description="Import network queue size from a file"
            id="org.xronos.orcc.importBufferSize"
            name="Import network queue size from a file">
         <checkBox>
            <option
                  id="org.xronos.orcc.bufferSizeFile"
                  name="File">
               <browseFile
                     extension="*.ybm"
                     folder="false"
                     workspace="false">
               </browseFile>
            </option>
         </checkBox>
      </option>
      <option
            defaultValue="false"
            description="Clock gate actors when their output queues are becoming full."
            id="org.xronos.orcc.outputClockGating"
            name="Coarsed grain clock gating based on output of actors">
         <checkBox></checkBox>
      </option>
      <option
            defaultValue="false"
            id="org.xronos.orcc.inputClockGating"
            name="Coarsed grain clock gating based on input of actors">
         <checkBox></checkBox>
      </option>
      <option
            defaultValue="false"
            description="Transform list arrays size into a power of two, eliminates multiplications due to index flattening but it consumes more memory"
            id="org.xronos.orcc.arraySizeToPowerOfTwo"
            name="Transform list arrays size into a power of two.">
         <checkBox></checkBox>
      </option>
      <option
            defaultValue="false"
            description="Output the availability of tokens on inputs and if the scheduler is idle."
            id="org.xronos.orcc.schedulingInformation"
            name="Output scheduling information">
         <checkBox></checkBox>
      </option>
      <option
            defaultValue="false"
            description="New LIM generation with non introusive modifications on the ORCC IR."
            id="org.xronos.orcc.newLimGen"
            name="New LIM Generation (Beta)">
         <checkBox></checkBox>
      </option>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XronosIr -->
      <package
            uri="http://www.xronos.org/ir"
            class="org.xronos.orcc.ir.XronosIrPackage"
            genModel="model/XronosIr.genmodel"/>
   </extension>

</plugin>
