<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.orcc.backends.backends">
      <backend
            class="org.xronos.orcc.backend.Xronos"
            name="Verilog (Xronos)">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="org.xronos.orcc.generateGoDone">
         </option>
         <option
               id="org.xronos.orcc.xilinxPrimitives">
         </option>
         <option
               id="net.sf.orcc.dontExportLibrary">
         </option>
         <option
               id="org.xronos.orcc.singleFileGeneration">
         </option>
      </backend>
      <backend
            class="org.xronos.orcc.backend.embedded.Embedded"
            name="Xronos Embedded CPP">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
      </backend>
   </extension>
   <extension
         point="net.sf.orcc.core.options">
      <option
            defaultValue="false"
            description="One Verilog file generation for all the Network"
            id="org.xronos.orcc.singleFileGeneration"
            name="Single File Generation (Experimental)">
         <checkBox></checkBox>
      </option>
      <option
            defaultValue="false"
            id="org.xronos.orcc.generateGoDone"
            name="Generate Go/Done Signal for each Action">
         <checkBox>
            <option
                  defaultValue="false"
                  id="org.xronos.orcc.generateWeights"
                  name="Generate the Go&amp;Done weights for each action">
               <checkBox></checkBox>
            </option>
         </checkBox>
      </option>
      <option
            defaultValue="false"
            id="org.xronos.orcc.xilinxPrimitives"
            name="Copy and compile Xilinx Primitives (Don&apos;t use unisim Lib)">
         <checkBox></checkBox>
      </option>
   </extension>

</plugin>
