<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.orcc.backends.backends">
      <backend
            class="net.sf.orc2hdl.backend.Orc2HDL"
            name="Verilog (Orc2HDL)">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="net.sf.orc2hdl.instanceDesign">
         </option>
         <option
               id="net.sf.orc2hdl.generateGoDone">
         </option>
         <option
               id="net.sf.orcc.dontExportLibrary">
         </option>
      </backend>
   </extension>
   <extension
         point="net.sf.orcc.core.options">
      <option
            defaultValue="false"
            description="Generate directly the verilog file without using the XLIM backend."
            id="net.sf.orc2hdl.instanceDesign"
            name="Faster Code Generation (Beta)">
         <checkBox></checkBox>
      </option>
      <option
            defaultValue="false"
            id="net.sf.orc2hdl.generateGoDone"
            name="Generate Go/Done Signal for each Action">
         <checkBox>
         </checkBox>
      </option>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.orc2hdl.ui.Orc2HDLPreferencePage"
            id="net.sf.orc2hdl.ui.Orc2HDLPreferencePage"
            name="Orc2HDL">
      </page>
   </extension>

</plugin>
